@page "/"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using Notes_WebApp.Shared;
@using System.Text.RegularExpressions;

@inject IJSRuntime JSRuntime

<h1>Notes</h1>

<div class="mt-4">
    <h2>Create Note</h2>
    <form @onsubmit="CreateNote">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" @bind="newNote.Title" required />
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea class="form-control" id="content" @bind="newNote.Content" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</div>

<style>
    .highlight {
        background-color: rgb(159, 160, 208);
        font-weight: bold;
    }
</style>


<div class="mt-4">
    <h2>Search Notes</h2>
    <div class="dropdown-container">
        <input type="text" class="form-control" placeholder="Search by Title or Content" @bind="searchTerm" @oninput="HandleSearchInput" style="width: 600px;" />
        <ul class="dropdown-content" style="@displayStyle">
            @foreach (var item in filteredNotes)
            {
                <li @onclick="() => SelectNoteTitleOrContent(item.Note!)" @key="item.Note!.Id">
                    <span>@(new MarkupString(HighlightSearchTerm(item.Html!, searchTerm)))</span>
                </li>
            }
        </ul>
    </div>
</div>

<div class="mt-5">
    Total Notes: @totalNotes
</div>

@if (isLoading)
{
    <p>Loading...</p>
}
else
{
    <div class="mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th @onclick="SortByTitle" style="cursor: pointer; text-decoration: underline;">Title</th>
                    <th @onclick="SortByDate" style="cursor: pointer; text-decoration: underline;">Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var note in sortedNotes)
                {
                    <tr id="@($"note-{note.Id}")" style="@(note.IsExpanded ? "background-color: lightgray;" : "")">
                        <td>@note.Title</td>
                        <td>@note.Date.ToLocalTime().ToString("MM/dd/yyyy HH:mm:ss")</td>
                        <td>
                            @if (note.IsEditing)
                            {
                                <button class="btn btn-success" @onclick="() => ApplyChanges(note)">Apply Changes</button>
                                <button class="btn btn-secondary ml-2" @onclick="() => CancelEdit(note)">Cancel</button>
                            }
                            else
                            {
                                <button class="btn btn-primary" @onclick="() => ToggleExpand(note)">@(note.IsExpanded ? "Hide" : "Show") Note</button>
                                <button class="btn btn-info ml-2" @onclick="() => StartEdit(note)">Edit Note</button>
                                <button class="btn btn-danger ml-2" @onclick="() => DeleteNote(note)">Delete Note</button>
                            }
                        </td>
                    </tr>
                    @if (note.IsExpanded || note.IsEditing)
                    {
                        <tr>
                            <td style="@(note.IsExpanded ? "background-color: lightgray;" : "")" colspan="3">
                                @if (note.IsEditing)
                                {
                                    <div class="form-group">
                                        <label for="editTitle">Title</label>
                                        <input type="text" class="form-control" id="editTitle" @bind="note.Title" required />
                                    </div>
                                    <div class="form-group">
                                        <label for="editContent">Content</label>
                                        <textarea class="form-control" id="editContent" @bind="note.Content" rows="4"></textarea>
                                    </div>
                                }
                                else
                                {
                                    <p>@note.Content</p>
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

<script>
    window.scrollToNote = (noteId) => {
        const noteElement = document.getElementById(`note-${noteId}`);
        if (noteElement) {
            noteElement.scrollIntoView({ behavior: "smooth" });
        }
    };
</script>

@code {
    [Inject]
    private HttpClient? httpClient { get; set; }
    private List<Note> notes = new List<Note>();
    private List<Note> sortedNotes = new List<Note>();
    private Note newNote = new Note();
    private bool isLoading = true;
    private string? errorMessage = null;
    private bool sortByDateAscending = true;
    private bool sortByTitleAscending = true;
    private string searchTerm = "";
    private List<string> noteTitles = new List<string>();
    private List<NoteWithHtml> filteredNotes = new List<NoteWithHtml>();
    private int totalNotes;
    public class NoteWithHtml
    {
        public string? Html { get; set; }
        public Note? Note { get; set; }
    }
    private string displayStyle = "display: none;";
    private Note? noteToExpand;

    /// <summary>
    /// Loads all notes asynchronously.
    /// </summary>
    private async Task LoadNotes()
    {
        isLoading = true;
        try
        {
            notes = await httpClient.GetFromJsonAsync<List<Note>>("api/Notes");
            sortedNotes = new List<Note>(notes!);

            sortedNotes = sortedNotes.OrderByDescending(note => note.Date).ToList();

            isLoading = false;
            errorMessage = null;
        }
        catch (Exception ex)
        {
            isLoading = false;
            errorMessage = $"An error occurred while loading notes.\n{ex.Message}";
        }
    }

    /// <summary>
    /// Creates a new note asynchronously.
    /// </summary>
    private async Task CreateNote()
    {
        try
        {
            var response = await httpClient!.PostAsJsonAsync("api/Notes", newNote);
            if (response.IsSuccessStatusCode)
            {
                newNote = new Note();
                await LoadNotes();
            }
            else
            {
                errorMessage = "An error occurred while creating the note.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred while loading notes.\n{ex.Message}";
        }
    }

    /// <summary>
    /// Deletes the specified note asynchronously.
    /// </summary>
    /// <param name="noteToDelete">The note to be deleted.</param>
    private async Task DeleteNote(Note noteToDelete)
    {
        try
        {
            var response = await httpClient!.DeleteAsync($"api/Notes/{noteToDelete.Id}");
            if (response.IsSuccessStatusCode)
            {
                notes.Remove(noteToDelete);
                await LoadNotes();
            }
            else
            {
                errorMessage = "An error occurred while deleting the note.";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred while loading notes.\n{ex.Message}";
        }
    }


    /// <summary>
    /// Handles input for the search feature.
    /// </summary>
    /// <param name="e">Change event arguments.</param>
    private void HandleSearchInput(ChangeEventArgs e)
    {
        searchTerm = e.Value?.ToString()!;
        SearchNotes();
    }

    /// <summary>
    /// Highlights the search term within the provided HTML string.
    /// </summary>
    /// <param name="html">The HTML content.</param>
    /// <param name="searchTerm">The search term.</param>
    /// <returns>The highlighted HTML.</returns>
    private string HighlightSearchTerm(string html, string searchTerm)
    {
        string highlightedHtml = Regex.Replace(
            html,
            Regex.Escape(searchTerm),
            match => $"<span class=\"highlight\">{match.Value}</span>",
            RegexOptions.IgnoreCase
        );

        return highlightedHtml;
    }

    /// <summary>
    /// Updates the search term and triggers the search.
    /// </summary>
    /// <param name="searchTerm">The new search term.</param>
    private void UpdateSearchTerm(string searchTerm)
    {
        this.searchTerm = searchTerm;
        SearchNotes();
    }

    /// <summary>
    /// Filters the notes based on the current search term.
    /// </summary>
    private void SearchNotes()
    {
        StringComparison comparison = StringComparison.OrdinalIgnoreCase;

        filteredNotes = notes
            .Where(note =>
                note.Title.IndexOf(searchTerm, comparison) >= 0 ||
                note.Content.IndexOf(searchTerm, comparison) >= 0)
            .Select(note => new NoteWithHtml
                {
                    Html = $"{note.Title} - {note.Content}",
                    Note = note
                })
            .ToList();

        displayStyle = filteredNotes.Count > 0 ? "display: block;" : "display: none;";
    }

    /// <summary>
    /// Selects and expands the note based on its title or content.
    /// </summary>
    /// <param name="selectedNote">The note to be expanded.</param>
    private async Task SelectNoteTitleOrContent(Note selectedNote)
    {
        searchTerm = "";
        noteToExpand = selectedNote;
        displayStyle = "display: none;";

        await JSRuntime.InvokeVoidAsync("scrollToNote", selectedNote.Id);

        ExpandNote(selectedNote);
    }

    /// <summary>
    /// Expands the selected note while collapsing the others.
    /// </summary>
    /// <param name="selectedNote">The note to be expanded.</param>
    private void ExpandNote(Note selectedNote)
    {
        foreach (var note in notes)
        {
            if (note == selectedNote)
            {
                note.IsExpanded = true;
            }
            else
            {
                note.IsExpanded = false;
            }
        }
    }

    /// <summary>
    /// Initializes the component by loading all notes.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        await LoadNotes();
        totalNotes = notes.Count;
    }

    /// <summary>
    /// Sorts the notes by date, toggling between ascending and descending order.
    /// </summary>
    private void SortByDate()
    {
        if (sortByDateAscending)
        {
            sortedNotes = sortedNotes.OrderBy(note => note.Date).ToList();
        }
        else
        {
            sortedNotes = sortedNotes.OrderByDescending(note => note.Date).ToList();
        }
        sortByDateAscending = !sortByDateAscending;
    }

    /// <summary>
    /// Sorts the notes by title, toggling between ascending and descending order.
    /// </summary>
    private void SortByTitle()
    {
        if (sortByTitleAscending)
        {
            sortedNotes = sortedNotes.OrderBy(note => note.Title).ToList();
        }
        else
        {
            sortedNotes = sortedNotes.OrderByDescending(note => note.Title).ToList();
        }
        sortByTitleAscending = !sortByTitleAscending;
    }

    /// <summary>
    /// Toggles the expansion state of the specified note.
    /// </summary>
    /// <param name="note">The note whose expansion state is to be toggled.</param>
    private void ToggleExpand(Note note)
    {
        note.IsExpanded = !note.IsExpanded;
    }

    /// <summary>
    /// Initiates the editing state for the specified note.
    /// </summary>
    /// <param name="note">The note to be edited.</param>
    private void StartEdit(Note note)
    {
        note.IsEditing = true;
    }

    /// <summary>
    /// Cancels the editing state for the specified note.
    /// </summary>
    /// <param name="note">The note whose editing is to be canceled.</param>
    private void CancelEdit(Note note)
    {
        note.IsEditing = false;
    }

    /// <summary>
    /// Applies the changes made to the note by sending an update request to the server.
    /// </summary>
    /// <param name="note">The note with changes to be applied.</param>
    private async Task ApplyChanges(Note note)
    {
        try
        {
            note.IsEditing = false;
            var response = await httpClient!.PutAsJsonAsync($"api/Notes/{note.Id}", note);
        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred while loading notes.\n{ex.Message}";
        }
    }
}
